<head>
    <link rel="stylesheet" href="../public/css/cart.style.css" content="text/css">
</head>
<div class="card">
            <div class="row">
                <div class="col-md-8 cart">
                    <div class="title">
                        <div class="row border-bottom">
                            <div class="col"><h4><b>Bolsa de compra</b></h4></div>
                            <div class="col align-self-center text-right text-muted">{{result.items}} ITEMS</div>
                        </div>
                    </div>    
                    
                {{#each result.products}}
                    <div class="row border-bottom">
                        <div class="row main align-items-center">
                            <div class="col-2"><img class="img-fluid" src={{this.thumbnail}}></div>
                            <div class="col">
                                <div class="row text-muted">{{this.title}}</div>
                            </div>
                            <div class="col">
                                <span href="#" class="border" style="padding:5px;">{{this.quantity}}</span>
                            </div>
                            <div class="col">$ {{this.price}}</div>
                        </div>
                    </div>
                {{/each}}  
                    <div class="back-to-shop"><a href="/shop">&leftarrow;</a><span class="text-muted">Volver a la tienda</span></div>
                </div>
                <div class="col-md-4 summary">
                    <div><h5><b>Resumen</b></h5></div>
                    <hr>
                    <div class="row">
                        <div class="col" style="padding-left:0;">ITEMS → </div>
                        <div class="col text-right">{{result.items}}</div>
                    </div>
                    <div class="row">
                        <div class="col" style="padding-left:0;">ENVÍO</div>
                        <div class="col text-right">Pago contraentrega</div>
                    </div>
                    <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                        <div class="col">TOTAL</div>
                        <div class="col text-right">$ {{result.total}}</div>
                    </div>

                    <form action="/api/carts/{{result.cartId}}/purchase" method="post">
                        <button type="submit">CHECKOUT</button>
                    </form>
                </div>
            </div>
            
        </div>