<div class="container" style="height: 80vh; margin-top: 20px;">
    <h1>Hola, {{result.name}}</h1>
    <ul>
        <li>
            Edad: {{result.age}}
        </li>
        <li>
           Rol: {{result.role}}
        </li>
        <li>
            Última conexión: {{result.last_connection}}
        </li>
    </ul>
    <a href="/upload" class="btn">Cargar documentos</a>
    {{#if result.admin}}
      <a href="/users" class="btn">USUARIOS</a>
    {{/if}}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Tipo de documento</th>
          <th scope="col">Nombre del documento</th>
        </tr>
      </thead>
      <tbody>
        {{#each result.documents}}
            <tr>
              <td>{{this.type}}</td>
              <td>{{this.name}}</td>
            </tr>
        {{/each}}
      </tbody>
    </table>
</div>